 <div class="sbp-preview">
                        <div class="sbp-preview-content">
                          <div class="row mx-0">
                            <div class="col-md-6">
                              <div class="form-group my-3 fs-13" id="fantasy_type">
                                <label class="label-control text-bold">Fantasy Type*</label><br>
                                <div class="custom-control custom-radio custom-control-inline">
                                  <input type="radio" name="fantasy_type"  value="Cricket" id="customRadio13"
                                     class="custom-control-input" checked />
                                  <label class="custom-control-label" for="customRadio13">Cricket</label>
                                </div>
                                <div class="custom-control custom-radio custom-control-inline">
                                  <input type="radio" name="fantasy_type" value="overfantasy" id="customRadio14"
                                    class="custom-control-input">
                                  <label class="custom-control-label" for="customRadio14">Over Fantasy</label>
                                </div>
                              </div>
                            </div>