<div id="layoutSidenav_nav">
    <nav class="sidenav shadow-right sidenav-light">
        <div class="sidenav-menu">

            <div class="nav accordion" id="accordionSidenav">
                <div class="sidenav-menu-heading"></div>
                <a class="nav-link" href="/">
                    <div class="nav-link-icon"><i class="fad fa-home-heart"></i></div> Dashboard
                </a>

                <div class="sidenav-menu-heading">Modules</div>
                <!-- ------------------------------- -->
                <!-- <a class="nav-link collapsed" href="javascript:void(0);" data-toggle="collapse" data-target="#collapse-ui-settings" aria-expanded="false" aria-controls="collapse-ui-settings">
                    <div class="nav-link-icon"><i class="fad fa-layer-group"></i></div>
                    Settings
                    <div class="sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div>
                </a> 
                <div class="collapse" id="collapse-ui-settings" data-parent="#accordionSidenav">
                    <nav class="sidenav-menu-nested nav accordion" id="accordionSidenavPages">

                        <a class="nav-link" href="/ui_settings">UI Settings</a>

                        <a class="nav-link" href="/facebook_settings">Facebook Settings</a>

                        <a class="nav-link" href="/google_settings">Google Settings</a>

                        <a class="nav-link" href="/alert_settings">Alert Settings</a>

                        <a class="nav-link" href="/payment_gateway_settings">Payment Gateway Settings</a>
                    </nav>
                </div> -->
<!-- --------------------------------------------------- -->
                <a class="nav-link collapsed" href="javascript:void(0);" data-toggle="collapse" data-target="#collapse-series-manager" aria-expanded="false" aria-controls="collapse-series-manager">
                    <div class="nav-link-icon"><i class="fad fa-layer-plus"></i></div>
                    Series Manager
                    <div class="sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div>
                </a>
                <div class="collapse" id="collapse-series-manager" data-parent="#accordionSidenav">
                    <nav class="sidenav-menu-nested nav accordion" id="accordionSidenavPages">
                        <a class="nav-link" href="/add-series">Create Series</a>
                        <a class="nav-link" href="/view-series">View Series</a>
                    </nav>
                </div>

                <!-- -----------------------------leaderboard------------------------- -->
                <a class="nav-link collapsed" href="javascript:void(0);" data-toggle="collapse" data-target="#collapse-leaderboard-manager" aria-expanded="false" aria-controls="collapse-leaderboard-manager">
                    <div class="nav-link-icon"><i class="fad fa-layer-plus"></i></div>
                    leaderboard Manager
                    <div class="sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div>
                </a>
                <div class="collapse" id="collapse-leaderboard-manager" data-parent="#accordionSidenav">
                    <nav class="sidenav-menu-nested nav accordion" id="accordionSidenavPages">
                        <a class="nav-link" href="/view_leaderBoard_page">View Leader Board</a>
                    </nav>
                </div>


                <!-- -----------------------Team--------------------------------------- -->

                <a class="nav-link collapsed" href="javascript:void(0);" data-toggle="collapse" data-target="#collapse-team-manager" aria-expanded="false" aria-controls="collapse-team-manager">
                    <div class="nav-link-icon"><i class="fad fa-users"></i></div>
                    Team Manager
                    <div class="sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div>
                </a>
                <div class="collapse" id="collapse-team-manager" data-parent="#accordionSidenav">
                    <nav class="sidenav-menu-nested nav accordion" id="accordionSidenavPages">
                        <a class="nav-link" href="/view-teams">View All Teams</a>
                    </nav>
                </div>

                <a class="nav-link collapsed" href="javascript:void(0);" data-toggle="collapse" data-target="#collapse-player-manager" aria-expanded="false" aria-controls="collapse-player-manager">
                    <div class="nav-link-icon"><i class="fad fa-running"></i></div>
                    Player Manager
                    <div class="sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div>
                </a>
                <div class="collapse" id="collapse-player-manager" data-parent="#accordionSidenav">
                    <nav class="sidenav-menu-nested nav accordion" id="accordionSidenavPages">
                        <a class="nav-link" href="/view-all-players">View All Players</a>
                    </nav>
                </div>

                <a class="nav-link collapsed" href="javascript:void(0);" data-toggle="collapse" data-target="#collapse-match-manager" aria-expanded="false" aria-controls="collapse-match-manager">
                    <div class="nav-link-icon"><i class="fad fa-gamepad"></i></div>
                    Match Manager
                    <div class="sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div>
                </a>
                <div class="collapse" id="collapse-match-manager" data-parent="#accordionSidenav">
                    <nav class="sidenav-menu-nested nav accordion" id="accordionSidenavPages">
                        <a class="nav-link" href="/view_AllUpcomingMatches">All Upcoming Matches</a>
                        <a class="nav-link" href="/view-AllMatches">View All Matches</a>
                        <a class="nav-link" href="/update-playing11">Update Playing XI</a>
                        <a class="nav-link" href="/add-botuser">add bot User</a>
                    </nav>
                </div>

                <a class="nav-link collapsed" href="javascript:void(0);" data-toggle="collapse" data-target="#collapse-Contest-manager" aria-expanded="false" aria-controls="collapse-Contest-manager">
                    <div class="nav-link-icon"><i class="fad fa-trophy"></i></div>
                    Contest Manager
                    <div class="sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div>
                </a>
                <div class="collapse" id="collapse-Contest-manager" data-parent="#accordionSidenav">
                    <nav class="sidenav-menu-nested nav accordion" id="accordionSidenavPages">
                        <a class="nav-link" href="/view-contest-Category">View All Contest Category</a>
                        <a class="nav-link" href="/view-all-global-contests-challengers">View All Global Contests</a>
                        <a class="nav-link" href="/create-custom-contest">View All Custom Contests</a>
                        <a class="nav-link" href="/view_all_experts_contest">View All Experts Contest</a>
                    </nav>
                </div>

                <a class="nav-link collapsed" href="javascript:void(0);" data-toggle="collapse" data-target="#collapse-User-manager" aria-expanded="false" aria-controls="collapse-User-manager">
                    <div class="nav-link-icon"><i class="fas fa-users"></i></div>
                    User Manager
                    <div class="sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div>
                </a>
                <div class="collapse" id="collapse-User-manager" data-parent="#accordionSidenav">
                    <nav class="sidenav-menu-nested nav accordion" id="accordionSidenavPages">
                        <a class="nav-link" href="/view_all_users">View All Registered Users</a>
                        <a class="nav-link" href="/userswallet">View Wallet Report</a>
                        <a class="nav-link" href="/wallet-list">Admin Wallet</a>
                    </nav>
                </div>

                <a class="nav-link collapsed" href="javascript:void(0);" data-toggle="collapse" data-target="#collapse-Verification-manager" aria-expanded="false" aria-controls="collapse-Verification-manager">
                    <div class="nav-link-icon"><i class="fad fa-copy"></i></div>
                    Verification Manager
                    <div class="sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div>
                </a>
                <div class="collapse" id="collapse-Verification-manager" data-parent="#accordionSidenav">
                    <nav class="sidenav-menu-nested nav accordion" id="accordionSidenavPages">
                        <a class="nav-link" href="/verifypan">View All Pan card Requests</a>
                        <a class="nav-link" href="/verifyaadhar">View All aadhar card Requests</a>
                        <a class="nav-link" href="/verifybankaccount">View all Bank Account Requests</a>
                        <a class="nav-link" href="/withdraw_amount">View all Withdrawal Account Requests</a>
                    </nav>
                </div>


                <!-- ---------------------------notification---------------------- --> 
                 <a class="nav-link collapsed" href="javascript:void(0);" data-toggle="collapse" data-target="#collapse-notification-manager" aria-expanded="false" aria-controls="collapse-notification-manager">
                    <div class="nav-link-icon"><i class="fad fa-bell"></i></div>
                    Notifications
                    <div class="sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div>
                </a>
           
            <div class="collapse" id="collapse-notification-manager" data-parent="#accordionSidenav">
                <nav class="sidenav-menu-nested nav accordion" id="accordionSidenavPages">
                    <a class="nav-link" href="/push-notification">Send Android App Notifications</a>
                    <a class="nav-link" href="/email-notification">Send Email Notifications</a> 
                    <a class="nav-link" href="/sms-notification">Send SMS Notifications</a> 
                </nav>
            </div>

            
            <!-- ------------------------receive fund---------------- -->
                <a class="nav-link collapsed" href="javascript:void(0);" data-toggle="collapse" data-target="#collapse-Receivefund-manager" aria-expanded="false" aria-controls="collapse-Receivefund-manager">
                    <div class="nav-link-icon"><i class="fad fa-copy"></i></div>
                    Receive Fund Manager
                    <div class="sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div>
                </a>
                <div class="collapse" id="collapse-Receivefund-manager" data-parent="#accordionSidenav">
                    <nav class="sidenav-menu-nested nav accordion" id="accordionSidenavPages">
                        <a class="nav-link" href="/view_all_Receive_Fund">View All Receive Fund</a>
                    </nav>
                </div>

                <a class="nav-link collapsed" href="javascript:void(0);" data-toggle="collapse" data-target="#collapse-result-manager" aria-expanded="false" aria-controls="collapse-result-manager">
                    <div class="nav-link-icon"><i class="fad fa-registered"></i></div>
                    Result Manager
                    <div class="sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div>
                </a>
                <div class="collapse" id="collapse-result-manager" data-parent="#accordionSidenav">
                    <nav class="sidenav-menu-nested nav accordion" id="accordionSidenavPages">
                        <a class="nav-link" href="/match-result">Match Result</a>
                    </nav>
                </div>

                <a class="nav-link collapsed" href="javascript:void(0);" data-toggle="collapse" data-target="#collapse-fullseriesdetail-manager" aria-expanded="false" aria-controls="collapse-fullseriesdetail-manager">
                    <div class="nav-link-icon"><i class="fad fa-sliders-h"></i></div>
                    Full Series Detail
                    <div class="sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div>
                </a>
                <div class="collapse" id="collapse-fullseriesdetail-manager" data-parent="#accordionSidenav">
                    <nav class="sidenav-menu-nested nav accordion" id="accordionSidenavPages">
                        <a class="nav-link" href="/seriesDetails">Series Detail</a>
                    </nav>
                </div>

                <a class="nav-link collapsed" href="javascript:void(0);" data-toggle="collapse" data-target="#collapse-banner-manager" aria-expanded="false" aria-controls="collapse-banner-manager">
                    <div class="nav-link-icon"><i class="fad fa-tablet-alt"></i></div>
                    Banner Manager
                    <div class="sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div>
                </a>
                <div class="collapse" id="collapse-banner-manager" data-parent="#accordionSidenav">
                    <nav class="sidenav-menu-nested nav accordion" id="accordionSidenavPages">
                        <a class="nav-link" href="/add-banner">Add New Banner</a>
                        <a class="nav-link" href="/view-all-Banner">View All Banners</a>
                    </nav>
                </div>

                <a class="nav-link collapsed" href="javascript:void(0);" data-toggle="collapse" data-target="#collapse-general-manager" aria-expanded="false" aria-controls="collapse-general-manager">
                    <div class="nav-link-icon"><i class="fad fa-th"></i></div>
                    General Tabs
                    <div class="sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div>
                </a>
                <div class="collapse" id="collapse-general-manager" data-parent="#accordionSidenav">
                    <nav class="sidenav-menu-nested nav accordion" id="accordionSidenavPages">
                        <a class="nav-link" href="/view-general-tab">View All General Tabs</a>
                    </nav>
                </div>

                <a class="nav-link collapsed" href="javascript:void(0);" data-toggle="collapse" data-target="#collapse-point-manager" aria-expanded="false" aria-controls="collapse-point-manager">
                    <div class="nav-link-icon"><i class="fad fa-circle-notch"></i></div>
                    Point
                    <div class="sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div>
                </a>
                <div class="collapse" id="collapse-point-manager" data-parent="#accordionSidenav">
                    <nav class="sidenav-menu-nested nav accordion" id="accordionSidenavPages">
                        <a class="nav-link" href="/point">Add Point</a>
                    </nav>
                </div>

                <a class="nav-link collapsed" href="javascript:void(0);" data-toggle="collapse" data-target="#collapse-offer-manager" aria-expanded="false" aria-controls="collapse-series-manager">
                    <div class="nav-link-icon"><i class="fad fa-dollar-sign"></i></div>
                    Offer Manager
                    <div class="sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div>
                </a>
                <div class="collapse" id="collapse-offer-manager" data-parent="#accordionSidenav">
                    <nav class="sidenav-menu-nested nav accordion" id="accordionSidenavPages">
                        <a class="nav-link" href="/add-offer">Add Offer</a>
                        <a class="nav-link" href="/view-all-offer">View All Offers</a>
                    </nav>
                </div>
                <a class="nav-link collapsed" href="javascript:void(0);" data-toggle="collapse" data-target="#collapse-youtube-manager" aria-expanded="false" aria-controls="collapse-youtube-manager">
                    <div class="nav-link-icon"><i class="fab fa-youtube"></i></div>
                    Youtuber Manager
                    <div class="sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div>
                </a>
                <div class="collapse" id="collapse-youtube-manager" data-parent="#accordionSidenav">
                    <nav class="sidenav-menu-nested nav accordion" id="accordionSidenavPages">
                        <a class="nav-link" href="/add_youtuber">Add Youtuber</a>

                        <a class="nav-link" href="/view_youtuber">View Youtubers</a>
                    </nav>
                </div>
                <!-- -----------------------------------popup notification----------- -->
                <a class="nav-link collapsed" href="javascript:void(0);" data-toggle="collapse" data-target="#collapse-popup-manager" aria-expanded="false" aria-controls="collapse-popup-manager">
                    <div class="nav-link-icon"><i class="fad fa-comments-alt"></i></div>
                    Popup Notification
                    <div class="sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div>
                </a>
                <div class="collapse" id="collapse-popup-manager" data-parent="#accordionSidenav">
                    <nav class="sidenav-menu-nested nav accordion" id="accordionSidenavPages">
                        <a class="nav-link" href="/popup">View Popup Notification</a>
                    </nav>
                </div>
                
                <!-- -------------profit loss-------------------- -->
                <a class="nav-link collapsed" href="javascript:void(0);" data-toggle="collapse" data-target="#collapse-profitLoss-manager" aria-expanded="false" aria-controls="collapse-profitLoss-manager">
                    <div class="nav-link-icon"><i class="fas fa-chart-line"></i></div>
                    Profit/Loss Manager
                    <div class="sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div>
                </a>
                <div class="collapse" id="collapse-profitLoss-manager" data-parent="#accordionSidenav">
                    <nav class="sidenav-menu-nested nav accordion" id="accordionSidenavPages">
                        <a class="nav-link" href="/view-all-profit-loss">View</a>
                    </nav>
                </div>
<!-- ----------------- -->

                <!-- <a class="nav-link collapsed" href="javascript:void(0);" data-toggle="collapse" data-target="#collapse-pointsystem-manager" aria-expanded="false" aria-controls="collapse-pointsystem-manager">
                    <div class="nav-link-icon"><i class="fad fa-play"></i></div>
                    Point System Manager
                    <div class="sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div>
                </a>
                <div class="collapse" id="collapse-pointsystem-manager" data-parent="#accordionSidenav">
                    <nav class="sidenav-menu-nested nav accordion" id="accordionSidenavPages">

                        <a class="nav-link" href="/pointSystem">Update Point System</a>

                    </nav>
                </div> -->

                <!-- <a class="nav-link collapsed" href="javascript:void(0);" data-toggle="collapse" data-target="#collapse-SubAdmin-manager" aria-expanded="false" aria-controls="collapse-SubAdmin-manager">
                    <div class="nav-link-icon"><i class="fad fa-user"></i></div>
                    Sub Admin Manager
                    <div class="sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div>
                </a>
                <div class="collapse" id="collapse-SubAdmin-manager" data-parent="#accordionSidenav">
                    <nav class="sidenav-menu-nested nav accordion" id="accordionSidenavPages">

                        <a class="nav-link" href="/add-sub-admin">Add Sub Admin</a>

                        <a class="nav-link" href="/view-sub-admin">View Sub Admin</a>
                    </nav>
                </div> -->
       <!-- ---------------------------- FAQQuestion ------------------------->
       <!-- <a class="nav-link collapsed" href="javascript:void(0);" data-toggle="collapse" data-target="#collapse-FAQQuestion-manager" aria-expanded="false" aria-controls="collapse-FAQQuestion-manager">
        <div class="nav-link-icon"><i class="fas fa-solid fa-files-medical"></i></div>
        FAQ Question Manager
        <div class="sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div>
    </a>
    <div class="collapse" id="collapse-FAQQuestion-manager" data-parent="#accordionSidenav">
        <nav class="sidenav-menu-nested nav accordion" id="accordionSidenavPages">
            <a class="nav-link" href="/add_FAQ_Question_page">Add FAQ Question</a>
            <a class="nav-link" href="/view_all_FAQ_Question_page">View All FAQ Question</a>
        </nav>
    </div> -->

    <!-- -------------------------------Privacy Policy -->
    <!-- <a class="nav-link collapsed" href="javascript:void(0);" data-toggle="collapse" data-target="#collapse-privacypolicy-manager" aria-expanded="false" aria-controls="collapse-privacypolicy-manager">
        <div class="nav-link-icon"><i class="fas fa-solid fa-blinds-open"></i></div>
        Privacy Policy Manager
        <div class="sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div>
    </a>
    <div class="collapse" id="collapse-privacypolicy-manager" data-parent="#accordionSidenav">
        <nav class="sidenav-menu-nested nav accordion" id="accordionSidenavPages">
            <a class="nav-link" href="/privacy_policy_page">privacy policy</a>
        </nav>
    </div> -->
    <!-- ---------------------------------------how to play---------- -->
    <!-- <a class="nav-link collapsed" href="javascript:void(0);" data-toggle="collapse" data-target="#collapse-howtoplay-manager" aria-expanded="false" aria-controls="collapse-howtoplay-manager">
        <div class="nav-link-icon"><i class="fad fa-play-circle"></i></div>
        How to play Manager
        <div class="sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div>
    </a>
    <div class="collapse" id="collapse-howtoplay-manager" data-parent="#accordionSidenav">
        <nav class="sidenav-menu-nested nav accordion" id="accordionSidenavPages">
            <a class="nav-link" href="/how_to_play_page">How to play</a>
        </nav>
    </div> -->



    <!-- -------------------------------Terms Condition -->
    <!-- <a class="nav-link collapsed" href="javascript:void(0);" data-toggle="collapse" data-target="#collapse-termsconditions-manager" aria-expanded="false" aria-controls="collapse-termsconditions-manager">
        <div class="nav-link-icon"><i class="fas fa-file-contract"></i></div>
        Terms Conditions Manager
        <div class="sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div>
    </a>
    <div class="collapse" id="collapse-termsconditions-manager" data-parent="#accordionSidenav">
        <nav class="sidenav-menu-nested nav accordion" id="accordionSidenavPages">
            <a class="nav-link" href="/terms_condition-page">Term Condition</a>
        </nav>
    </div> -->

                 <!-- -------------------------------Contact----- -->
                 <!-- <a class="nav-link collapsed" href="javascript:void(0);" data-toggle="collapse" data-target="#collapse-contact-manager" aria-expanded="false" aria-controls="collapse-contact-manager">
                    <div class="nav-link-icon"><i class="fas fa-id-badge"></i></div>
                    contact Manager
                    <div class="sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div>
                </a>
                <div class="collapse" id="collapse-contact-manager" data-parent="#accordionSidenav">
                    <nav class="sidenav-menu-nested nav accordion" id="accordionSidenavPages">
                        <a class="nav-link" href="/contact_page">Contact</a>
                    </nav>
                </div> -->

    <!-- -----------------------------------legality_policy -->
    <!-- <a class="nav-link collapsed" href="javascript:void(0);" data-toggle="collapse" data-target="#collapse-legalitypolicy-manager" aria-expanded="false" aria-controls="collapse-legalitypolicy-manager">
        <div class="nav-link-icon"><i class="fas fa-comet"></i></div>
            Legality Policy Manager
        <div class="sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div>
    </a>
    <div class="collapse" id="collapse-legalitypolicy-manager" data-parent="#accordionSidenav">
        <nav class="sidenav-menu-nested nav accordion" id="accordionSidenavPages">
            <a class="nav-link" href="/legality_policy_page">Legality Policy</a>
        </nav>
    </div> -->

    <!-- --------------------------------------About us -->
    <!-- <a class="nav-link collapsed" href="javascript:void(0);" data-toggle="collapse" data-target="#collapse-aboutus-manager" aria-expanded="false" aria-controls="collapse-aboutus-manager">
        <div class="nav-link-icon"><i class="fad fa-address-card"></i></div>
        About us Manager
        <div class="sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div>
    </a>
    <div class="collapse" id="collapse-aboutus-manager" data-parent="#accordionSidenav">
        <nav class="sidenav-menu-nested nav accordion" id="accordionSidenavPages">
            <a class="nav-link" href="/about_us_page">About us</a>
        </nav>
    </div> -->
            


            </div>

        </div>
        <div class="sidenav-footer">
            <div class="sidenav-footer-content w-100">

                <div class="sidenav-footer-subtitle">Logged in as:</div>
                <div class="sidenav-footer-title">
                    <%= sessiondata?.name %>
                </div>
            </div>
        </div>
    </nav>
</div>
